.formatting-black {
  color: #000000;
  text-shadow: 1px 1px 0 #000000;
}
.formatting-dark_blue {
  color: #0000AA;
  text-shadow: 1px 1px 0 #00002A;
}
.formatting-dark_green {
  color: #00AA00;
  text-shadow: 1px 1px 0 #002A00;
}
.formatting-dark_aqua {
  color: #00AAAA;
  text-shadow: 1px 1px 0 #002A2A;
}
.formatting-dark_red {
  color: #AA0000;
  text-shadow: 1px 1px 0 #2A0000;
}
.formatting-dark_purple {
  color: #AA00AA;
  text-shadow: 1px 1px 0 #2A002A;
}
.formatting-gold {
  color: #FFAA00;
  text-shadow: 1px 1px 0 #2A2A00;
}
.formatting-gray {
  color: #AAAAAA;
  text-shadow: 1px 1px 0 #2A2A2A;
}
.formatting-dark_gray {
  color: #555555;
  text-shadow: 1px 1px 0 #151515;
}
.formatting-blue {
  color: #5555FF;
  text-shadow: 1px 1px 0 #15153F;
}
.formatting-green {
  color: #55FF55;
  text-shadow: 1px 1px 0 #153F15;
}
.formatting-aqua {
  color: #55FFFF;
  text-shadow: 1px 1px 0 #153F3F;
}
.formatting-red {
  color: #FF5555;
  text-shadow: 1px 1px 0 #3F1515;
}
.formatting-light_purple {
  color: #FF55FF;
  text-shadow: 1px 1px 0 #3F153F;
}
.formatting-yellow {
  color: #FFFF55;
  text-shadow: 1px 1px 0 #3F3F15;
}
.formatting-white {
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #3F3F3F;
}
.formatting-obfuscated {
  background: black;
}
.formatting-bold {
  font-weight: bold;
}
.formatting-strikethrough {
  text-decoration: line-through;
}
.formatting-underline {
  text-decoration: underline;
}
.formatting-italic {
  font-style: italic;
}
